<div id="<%= dom_id employee %>">

  <% if employee.profile_picture.present? %>
    <%= image_tag(employee.profile_picture, :class => "img-thumbnail") %>
  <% end %>

  <p>
    <strong>Full Name:</strong>
    <%= employee.full_name %>
  </p>

  <p>
    <strong>Assigned Devices:</strong>
    <%= "id" %>
  </p>
</div>
