<div id="<%= dom_id device %>">
    <p>
        <strong>Name:</strong>
        <%= device.name %>
    </p>

    <p>
        <strong>Assigned To:</strong>
        <%= device.assigned_to.full_name %>
    </p>
</div>
